node_modules/
dist/
*.tsbuildinfo
coverage/
.vitest/
logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode/
.idea/
*.suo
.ntvs
*.njsproj
*.sln
*.sw?
.eslintcache
.npm/